:root {
    --blue: #0088ff;
    --buttonblue: #0088ff;
    --darkblue: #1063b3;
    --grey: #575757;
    --maroon: #ea0208;
    --cream: #f9fcfe;

  }

h1, h4, h5, h6 {
    margin: 0;
    padding-top: .5rem;
}



.address-body {
    padding: 0 2rem 0 2rem;
    height: auto;
    text-align: center;
    
}

.adr-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    color: var(--blue);
    font-size: .8rem;
}


.adr-subtext {
    color: rgb(66, 66, 66);
}






@media screen and (max-width:767px) {


}