@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    width: 0;
    background-color: #fff;
    display: hidden;

}


.scrollbar-hide::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #f3f3f3;
    transition: all 0.5ms;
    display: hidden;

}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* DataGrid Styling */
#bookingGrid{
  height: 70vh;
  font-size: 0.7rem !important;;
}

.dx-datagrid-headers {
    background-color: #489AEE !important;
    color:#fff !important;
    font-weight: 500 !important;
}

.dx-overlay-content .dx-popup-normal {
  height: 20vh !important;
  width: 20vw !important;
}

/* DX FOr Styling */
.dx-form{
  
    padding: 10px!important;
}

.form-heading{
  background: rgb(0,111,201);
background: linear-gradient(90deg, rgba(0,111,201,1) 0%, rgba(59,150,221,1) 84%, rgba(72,154,238,1) 100%);
}

/* .dx-texteditor-input-container .dx-texteditor-input {
  padding: 2px 12px !important;
  height: 24px !important;
  line-height: 20px !important;
} */


/* 
 .dx-texteditor-input-container {
    border: none;
    border: 1px solid #489AEE;
  }
  .dx-texteditor-buttons-container{
    background-color: #489AEE;
  }
 .dx-button-content .dx-dropdowneditor-icon{
    color:#fff
  }


  .dx-button-content .dx-dropdowneditor-icon:hover{
    color:#489AEE
  }

  .dx-numberbox-spin-button .dx-numberbox-spin-up-icon, .dx-numberbox-spin-button .dx-numberbox-spin-down-icon{
    color:#fff
  }
  .dx-numberbox-spin-button .dx-numberbox-spin-up-icon:hover, .dx-numberbox-spin-button .dx-numberbox-spin-down-icon:hover{
    color:#489AEE
  } */


 

  @media screen and (max-width:767px){
    .dx-field-item{
      display: flex;
      flex-direction: column;
    }
    #bookingGrid{
      height: 60vh;
    
    }
   
}
  @media screen and (max-width:480px){
   
    #bookingGrid{
      height: 70vh;
    
    }
   
}