@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    width: 0;
    background-color: #fff;
    display: hidden;

}


.scrollbar-hide::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #f3f3f3;
    transition: all 0.5ms;
    display: hidden;

}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dx-datagrid-headers {
    background-color: #489AEE !important;
    color:#fff !important;
    font-weight: 500 !important;
}

