@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
    width: 4px;
    background-color: #C3DAF9;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #FFAA00;
    transition: all 0.5ms;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.dx-datagrid-headers {
    background-color: #C3DAF9 !important;
    color: #286DB5 !important;
}
